.mainDiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #182b3a;
    background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
}

.innerDiv {
    max-width: 90vw;
    /* margin-top: 2rem; */
    background-color: antiquewhite;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    min-width: 360px;
}

.heading {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 2rem;
    color: #7161ef;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.subHeader {
    font-size: 0.8rem;
    font-weight: 700;
    color: #bfc0c0;
}





.imageContainer {
    filter: drop-shadow(5px 5px 20px #000000);
    display: flex;
    justify-content: center;
}

.imageContainer>img {
    min-width: 250px;
    max-width: 30rem;
}


/* update form Admin */
.updateImageContainer {
    filter: drop-shadow(5px 5px 20px #000000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.updateImageContainer>.languageImageContainerUpdate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.languageImageContainerUpdate>img{
    height: 230px;
    width: 230px;
    border-radius: 50%;
}

.languageCheckBoxLabel{
    font-weight: 600;
    font-size: 0.8rem;
}